<!DOCTYPE html>
<html>

<head>
  <title>Vu Js</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div>
    <h2> VueJs event handling examples</h2>
  </div>
  <div id="eventHandler">

    <div>
      <input type="text" name="counter" value="" v-model="counter" disabled=true />
      <button v-on:click="incrementer" class="btnColorFull">increment</button>
    </div>

    <div>
      <input type="text" name="name" value="" v-model="name" disabled=true />
      <button v-on:click="greeting" class="btnColorFull">Say Hello</button>
    </div>


  </div>

  <script src="event.js"></script>

</body>

</html>