<!DOCTYPE html>
<html>

<head>
  <title>Vu Js</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div>
    <h2> VueJs  watch example</h2>
  </div>
  <div id="watch">

    <input type="text" placeholder="Enter meter" name="meter" value="" v-model="meter" />
    <input type="text" placeholder="Enter cm" name="cm" value="" v-model="cm" />

  </div>

  <script src="watch.js"></script>

</body>

</html>