<!DOCTYPE html>
<html>

<head>
  <title>Vu Js</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div id="app">
<div>
    <p v-if="error" class="error"> {{error}} </p>
    <input type="text" placeholder="Enter name" name="username" value="" v-model="username" />
    <input type="text" placeholder="Enter age" name="userage" value="" v-model="userage" />
    <button type="button" @click="add" class="colorBtn"> Add </button>
  </div>


<div>
    <table>
      <thead>
          <tr>
          <th>Name</th>
          <th>Age</th>     
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in users">
          <td>
            {{item.name}} 
          </td>
          <td>
            {{item.age}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>





  </div>

  <script src="app.js"></script>

</body>

</html>