<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<ul>
			<li v-for="(fruit,index) in fruits">
				({{index}}) . {{fruit}}
			</li>
		</ul>
		<ul>
			<li v-for="person in persons">
				{{person.name}}-{{person.age}} 
			</li>
		</ul>

		<span v-for="x in 10">{{x}}</span>
		
	</div>
	<script>

		new Vue({
			el: '#app',
			data: {
				fruits: ['Apple', 'Orange', 'Banana'],
				persons: [
					{ name: 'Sezayir', age: 37, color: 'Black' },
					{ name: 'Aysegul', age: 35, color: 'Brown' }
				]
			},

		})
	</script>
</body>

</html>